@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Source+Code+Pro&display=swap");
/*font-family: 'Gemunu Libre', sans-serif;
font-family: 'Source Code Pro', monospace;*/

/*----- Fonts ----*/
p {
  font-family: "Source Code Pro", monospace;
}

h1,
h2,
h3,
h4 {
  font-family: "Gemunu Libre", sans-serif;
}

a {
  font-family: "Gemunu Libre", sans-serif;
}

#acc {
  font-family: "Source Code Pro", monospace;
  text-decoration: none;
  color: #3a3a3a;
}
/*-------- Nav -------*/
nav {
  width: 100%;
  float: left;
  padding: 0;
  background-color: #3a3a3a;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

nav li a:hover {
  color: black;
  background-color: #4c96d7;
  font-family: "Source Code Pro", monospace;
  padding: 100px;
  transition: transform 1s; /* Animation */
  margin: 0 auto;
}
