@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Source+Code+Pro&display=swap");
/*font-family: 'Gemunu Libre', sans-serif;
font-family: 'Source Code Pro', monospace;*/
/*--- Logo ---*/
#logo {
  padding-bottom: 25px;
}

/*----- Fonts/Headings ----*/

nav li a:hover {
  color: black;
  background-color: #4c96d7;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  font-size: large;
}

#delorean_info {
  color: #4c96d7;
}

/*------- Main section -------*/
#wrapper {
  background-color: #fff;
}

hr {
  border: 3px solid #3a3a3a;
}

/*-------- Footer --------*/
footer {
  text-align: center;
}

/*---------- Media Query For large screens only ---------*/
@media only screen and (min-width: 480px) {
  #wrapper {
    border: 5px solid #4c96d7;
    border-radius: 15px 15px 15px 15px;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /*------ Background Image ------*/
  body {
    background-image: url("/phpmotors/images/site/small_check.jpg");
  }
}
